/*Article Preview*/
/* Mobile View*/

.preview{
    display: grid;
    grid-template-columns: 1fr 5% [start]15% 60% 15%[end] 5% 1fr;
    padding-top: 25px;
    padding-bottom: 25px;
    /* background: linear-gradient(to bottom, rgb(233, 247, 252), white); */
    background-image: linear-gradient(to right bottom, rgba(244, 251, 255, 1), rgba(244, 251, 255, 0));
}

.preview * {
    grid-column: start/end;
}

.preview-title{
    font-size: 24px;
    /* box-shadow: inset 0 -0.25em hsl(175, 88%, 53%); */
}
.preview-quote{
    font-size: 16px;
}
.preview-link{
    color: blue;
}

/*Tablet View*/
@media all and (min-width: 468px){
    .preview{
        grid-template-columns: 1fr 5% 5% [start]80%[end] 5% 5% 1fr;
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .preview-title{
        font-size: 28px;
        /* box-shadow: inset 0 -0.25em hsl(175, 88%, 53%); */
    }
    .preview-quote{
        font-size: 16px;
    }
}

@media all and (min-width: 780px){
    .preview{
        grid-template-columns: 1fr 5% 5% [start]80%[end] 5% 5% 1fr;
        /* padding-top: 36px;
        padding-bottom: 36px; */
        /* margin-top: 36px; */
    }
    .preview-title{
        font-size: 32px;
        padding-bottom: 5px;
    }

    .preview-quote{
        font-size: 20px;
        padding-bottom: 3px;
    }
    .preview-link{
        font-size: 18px;
    }
}

/*Logo Image*/
/*Mobile View*/
.logo-image-container{
    display:grid;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    /* height: 100vw; */
}

.logo-image{
    width: 100vw;
}


/*tablet view*/
@media all and (min-width: 460px){
    .logo-image-container{
        grid-template-columns: 30% 40% 30%;
    }

    .logo-image-container * {
        grid-column: 2/3;
    }
    .logo-image{
        width: 100%;
    }
}

/*Laptop View*/
@media all and (min-width: 780px){
    .logo-image-container{
        grid-template-columns:40% 20% 40%;
        /* background-color:mediumaquamarine; */
    }

    .logo-image-container * {
        grid-column: 2/3;
    }
    .logo-image{
        width: 100%;
    }
}


/*Footer*/